{% extends "dianzhuang/bases.html"%}
{% load static %}

{% block title %}电装网站-联系页{% endblock %}

{% block body %}
    <!--end-->
    <section class="banner">
      <div class="banner-page" style="background-image:url({% static 'dianzhuang/images/contact/1-1P321093045547.jpg' %})"><img src="{% static 'dianzhuang/images/bases/banner-height-page.gif' %}" class="center-block" alt=""></div>
    </section>
    <!--end-->
    <section class="page sx-jianju">
      <div class="container">
        ﻿<ul class="list-inline menu-kj2 text-center wow animated fadeInUp" style="visibility: hidden; animation-name: none;">


        </ul>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">
            <article class="content text-center">
              <div class="page-lianxi">
                <h2 class="t-m-none">
        您可以通过以下方式与我们联系</h2>
    <hr class="hr">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h3>
                在线沟通</h3>
            <p>
                在线时间：周一到周六（9：00-18：00）<br>
                通过添加我们的微信（与手机号同号）进行沟通</p>
            <p class="wygt">
                &nbsp;</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h3>
                电话沟通</h3>
            <p>
                手机号：18879570980<br>
                QQ号：2823784557<br>
                邮箱：wangge19990912@163.com<br>
                </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h3>
                亲临公司</h3>
            <p>
                驾车路线：XXX<br>
                公交线路：乘坐59路老城路口站下（步行约300米）<br>
                地铁路线：体育西路站A出口（步行约100米）</p>
            <p>
                <a href="javascript:;" target="_blank"><img alt="在地图上找到我们" src="{% static 'dianzhuang/images/contact/map.png' %}"></a></p>
        </div>
    </div>

              </div>
              <ul class="list-page">
              </ul>
              <div class="more-menu">
                <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <figure><a href="javascript:;"><span class="icon-page-xitong"></span>
                      <h3>公司简介</h3>
                      </a> </figure>
                  </div><div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <figure><a href="javascript:;"><span class="icon-page-xitong"></span>
                      <h3>设计</h3>
                      </a> </figure>
                  </div><div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <figure><a href="javascript:;"><span class="icon-page-xitong"></span>
                      <h3>案例</h3>
                      </a> </figure>
                  </div><div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <figure><a href="javascript:;"><span class="icon-page-xitong"></span>
                      <h3>联系</h3>
                      </a> </figure>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <script>
			$(function() {
				$(".navbar-nav li:nth-child(8)").addClass("hover");
			})
		</script>
{% endblock %}

 
